<doctype html>
<html>
  <head>
    <title><%= new Date().toISOString().split('T')[0] %> - Report</title>
  </head>
  <body>
    <div id="main-info">
      <div id="url-info">
        <strong><%= method.toUpperCase() %> </strong>
        <span> <%= url %> </span>
      </div>
      <div id="other-important-info">
        <p>
          <strong>Iterations: </strong>
          <span><%= i %></span>
        </p>
      <p>
        <strong>Concurrence: </strong>
        <span><%= c %></span>
      </p>
      </div>
    </div>
    <div id="iterations">
    <% for(var i=0;i<iterations.length;i++){ %>
      <div class="iteration">
        <h2>Iteration No. <%= iterations[i].iteration %> <small> <%= new Date(iterations[i].date) %></small></h2>
        <div id="concurrences">
        <% iterations[i].results.forEach(function(result){ %>
          <p class="concurrence">
            <h3> Concurrence No. <%= result.concurrence %></h3>
            <table>
              <tr>
                <th>Time taken to complete the request</th><th>Waiting TTFB</th>
              </tr>
              <tr>
                <td><%= result.data.downloaded %> ms</td><td><%= result.data.firstbyte %> ms</td>
              </tr>
            </table>
          </p>
        <% }) %>
        </div>
      </div>
    <% } %>
    </div>
  </body>
</html>
